:root {
  --main-background-color: #042519;
  --main-text-color: #FFF8FD;
  --alt-bg-color: #221e21;
  --header-height: 2.5rem;
  --page-padding: 2rem;
}

body {
  margin: 0;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  /* add fonts */

}

label[for=navexpander] {
  display: none;
}

#navexpander {
  display: none;
}

header#pageheader {
   height: 100px; 
  padding: 2rem 1.5rem; 
  display: flex;
   justify-content: space-between;
  align-items: center;
 background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
      padding: 0 1.5rem;
     


}
header#pageheader #logo {
  font-size: 0;
  
}
header#pageheader #logo img {
  max-width: 400px; 
  height: auto;
    display: block; /* Ensures width/height apply correctly */

}
header#pageheader nav {
  display: flex;
  gap: var(--page-padding);
}
header#pageheader nav a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-style: normal;
  padding: 3px 0;
  border-bottom: 1px solid transparent;
  font-size: x-large;

}
header#pageheader nav a.active {
  border-bottom: 1px solid black;
}
header#pageheader nav a:hover {
    border-bottom: 1px solid #bab8a8;
  background: linear-gradient(to right, #FFD700, #FFB700, #FFD700);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 800px) {
  header#pageheader nav {
    position: fixed;
    inset: 0;
    z-index: 20;
    flex-direction: column;
     background:#605727;
    text-align: center;
    font-size: 1.2em;
    padding: var(--page-padding);
    translate: 100% 0;
  }
  header#pageheader nav a {
    width: fit-content;
  }

  label[for=navexpander] {
   
    z-index: 50;
    font-size: 2rem;
    display: block;
  }

  #navexpander:checked + nav {
    translate: 0 0 !important;
    transition: translate ease 0.5s;
  }
}
#page-title {
  font-size: 5em;
  font-size: min(13vw, 5em);
  margin: 0;
}

@media screen and (max-width: 650px) {
  #page-title {
    font-size: 13vw;
    font-size: min(13vw, 5em);
  }
}
h2 {
  font-size: 2rem;
}

.inline-title {
  display: flex;
  align-items: baseline;
  gap: 0 var(--page-padding);
  flex-wrap: wrap;
}

.text-centre {
  text-align: center;
}

main {
  min-height: calc(100vh - var(--page-padding) - var(--page-padding) - var(--page-padding) - var(--header-height));
}
main p {
  font-size: 1em;
}
main a {
  color: currentColor;
}
main .headline {
  font-size: 1.2rem;
}
main img.image {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: var(--standard-radius);
  border-top-right-radius: 0;
}

.alt-section {
  background-color: var(--alt-bg-color);
  padding: var(--page-padding);
  border-radius: var(--standard-radius);
}
.alt-section.full-width {
  margin: 0 calc(-1 * var(--page-padding));
  border-radius: 0;
  padding: 1px var(--page-padding);
}

@media screen and (max-width: 700px) {
  .horiz-card-block {
    display: block;
  }
  .horiz-card-block.crop-img img {
    position: unset;
    height: 30vw;
    margin: var(--page-padding) 0;
  }
}

@media screen and (max-width: 960px) {
  img {
    height: auto;
    object-fit: unset;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

footer {
  margin-bottom: var(--page-padding) *.5;
  color: #999999;
  display: flex;
  justify-content: flex-end;
  gap: calc(var(--page-padding) * .5);
}
footer div:first-child {
  border-right: 1px solid #999999;
  padding-right: calc(var(--page-padding) / 2);
}
footer a {
  color: currentColor;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer img {
  width: 100px;
  height: auto;
  filter: brightness(0.6);
  margin-block-end: 1rem;
  
}
.previewimgsc {
  height: calc(100vh - var(--page-padding) - var(--page-padding) - var(--page-padding) - var(--header-height));
  position: relative;
  overflow: hidden;
  border-radius: var(--standard-radius);
  border-top-right-radius: 0;
    width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
   border-radius: 10px;
}

video {
  height: calc(100vh - var(--page-padding) - var(--page-padding) - var(--page-padding) - var(--header-height));
  position: relative;
  overflow: hidden;
  border-radius: var(--standard-radius);
  border-top-right-radius: 0;
    width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
   border-radius: 10px;
}
h1 {
    font-size: 3em; 
  text-align: center; 
}
h3 {
    font-size: 2em; 
  text-align: center; 
}
.mySlides {
  display:none;
    height: calc(100vh - var(--page-padding) - var(--page-padding) - var(--page-padding) - var(--header-height));
  position: relative;
  overflow: hidden;
  border-radius: var(--standard-radius);
  border-top-right-radius: 0;
    width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
   border-radius: 10px;
}
.dark-section {
  background-color: #221e21;
  color: #ffffff;
   margin: 0 calc(-1 * var(--page-padding));
  border-radius: 0;
  padding: 1px var(--page-padding);
  text-align: center;
}

.dark-section .headline2 {
  max-width: 800px;
  margin: 0 auto;
}

.dark-section #darksectionpic {
    height: calc(100vh - var(--page-padding) - var(--page-padding) - var(--page-padding) - var(--header-height));
  position: relative;
  overflow: hidden;
  border-radius: var(--standard-radius);
  border-top-right-radius: 0;
    width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
   border-radius: 10px;
}